.new-style-content {
    color: white;
    margin: 0;
    padding-right: 5%; /* Adjust padding to percentage for responsiveness */
    padding-left: 5%; /* Adjust padding to percentage for responsiveness */
    font-family: sans-serif;
}

.new-style-text {
    font-family: serif;
    font-size: 3vw; /* Use vw unit for font size for responsiveness */
    padding-left: 15%; /* Adjust padding to percentage for responsiveness */
    padding-right: 10%; /* Adjust padding to percentage for responsiveness */
    text-align: center; /* Center text */
}

.paras {
    font-family: cursive;
    font-size: 1.5vw; /* Use vw unit for font size for responsiveness */
    padding-left: 10%; /* Adjust padding to percentage for responsiveness */
    padding-right: 10%; /* Adjust padding to percentage for responsiveness */
    padding-top: 10px; /* Add padding for spacing */
    text-align: center; /* Center text */
}

.buyyy {
    padding-left: 3%; /* Adjust padding to percentage for responsiveness */
    padding-top: 10%; /* Adjust padding to percentage for responsiveness */
    text-align: center; /* Center text */
}
.shop-now-bbtn{
    background-color: black;
            color: white;
            border: 10px;
            border-radius: 7px;
            cursor: pointer;
            text-decoration: unset;
            font-family: !important;
            font-size: 25px;

}
.loog{
    border-radius: 100px;
}