body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

section {
    padding: 50px 0;
    position: relative;
}

.promo-image,
.new-style-image {
    width: 100%;
    max-width: 100%;
    height: 1200px;
    max-height: 100;

}
.iconss{
    position: absolute;
    top: 60px;
    right: 700px;

}

.promo-text {
    font-weight: bold;
    color: black;
    text-align: center;
    background-color: white;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.shop-now-btn,
.shop-now-bbtn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.shop-now-btn {
    background-color: black;
    color: white;
}

.shop-now-bbtn {
    background-color: orange;
    color: white;
}

.new-style-container {
    position: absolute;
    margin-top: 50px;
    margin-bottom: 300px;
    top: 0px;
    right: 0;
    background-color: orange;
    padding: 25px 25px 0px ;
    padding-top: 0px;
    border-image-width: auto;
    border-radius: 3px;
    text-align: center;
    width: 50%; /* Set width to half of the section width */
    height: 1200px;
    vertical-align: bottom; /* Set height to match the section height */
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-style-content {
    color: white;
    margin: 0;
}

.about-text {
    margin-top: 30px;
}

.follow-us {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 400px;
    padding-top: 10px;
    text-align: right;
}

.follow-us img {
    text-align: right;
    margin: 10px;
    justify-content: right;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid #ccc;

}

@media only screen and (max-width: 768px) {
    .new-style-container {
        position: relative;
        width: 100%;
    }
}
